@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*--------------*\ 
   common styles
\*--------------*/

:root {
    --heading-color: #562EFF;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #E5E5E5;
}

h3 {
    font-weight: 500;
    margin: 3px;
    font-size: 24px;
}

.grey {
    color: darkgrey;
}

hr {
    margin: 30px 0;
    border: 1px solid #D1D1D1;
}

/* navigation  bar style */

nav,
.nav-item,
.nav-item ul {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    background-color: #562EFF;
    padding: 5px;
}

.nav-item {
    align-items: center;
}

.nav-item .far {
    font-size: 40px;
    margin-right: 15px;
}

.nav-item ul li {
    list-style: none;
    margin: 0 35px;
}

.nav-item li a {
    text-decoration: none;
}

.nav-item li a,
.nav-item .far,
.nav-item h3 {
    color: white;
    cursor: pointer;
}

.nav-item img {
    height: 51px;
    width: 51px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*--------------------
 Top section styles 
 ---------------------*/

/* players */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-top: 36px;
    background-color: white;
    border-radius: 5px;
    height: 670px;
    width: 870px;
    padding: 35px;

}


.top-players-heading h3 {
    margin-bottom: 37px;
    color: var(--heading-color);
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 20px;
}

.players p {
    margin-left: 16px;
}

.players div {
    display: flex;
    align-items: center;
}

.players img {
    width: 56px;
    height: 56px;
}

/* bolgs */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 35px;
}

.top-blogs h3 {
    margin-bottom: 29px;
    color: var(--heading-color);
}

.blog {
    display: flex;
    align-items: center;
}

.blog-info a {
    text-decoration: none;
}

.blog-image img {
    width: 177px;
    height: 117px;
    margin-right: 16px;
}

/*-------------------*\
     Bottom section
\*-------------------*/


.bottom-section {
    height: 362px;
    margin-bottom: 30px;
}

.bottom-section h3 {
    color: var(--heading-color);
    margin-bottom: 27px;

}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.course {
    padding: 11px 11px 25px;
    border-radius: 15px;
    box-shadow: 3px 5px 15px #ddd;
}

.course h1,
.course p {
    margin: 3px;
}

.course h1 {
    font-size: 20px;
    font-weight: 500;
}

.cource-image img {
    width: 100%;
}


.soft-red {
    color: #ED6B4F;
}

.course-info-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px
}

.fa-star:not(.grey) {
    color: #FFC014;
}

.course-time {
    background-color: #FFE4E8;
    padding: 2px 5px;
    border-radius: 15px
}

.course-time,
.course-time i {
    color: #FF4A60;
}